h1{
    text-align: center;font-size:40px;
}
h2{
    text-align: right;font-size:30px;
}
.witelixazi{
    border-color:red;border-width:5px;
}
.marjvniv{
    text-align: right;font-size:30px;
}
.lurjixazi{
    border-color:blue;border-width:5px;
}